<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#ccc"
  type="ball-spin">
  <p style="font-size: 16px; color: #ccc" translate>componente-ngx-spinner.grabando</p>
</ngx-spinner>

<!-- *************** LISTADO ************************************ -->
<div *ngIf="accionForm=='listado' && grilla!==undefined">

    <div translate>{{errorMensaje}}</div>

    <h5 class="mb-0" translate>moduloRutas.paradas</h5>

    <div  class="row" style="margin-top:10px;">
        <div class="col-12">
            <table class="table table-hover" 
                  [ngClass]="!grilla.verFiltrosAdicionales ? 'Grilla1FilaFiltros' : 'Grilla2FilaFiltros'">

                <thead>

                    <!--------------- Filtros -------------------->
                    <tr> 
                        <th *ngIf="tipoPerfilUsuario=='Desarrollador' && grilla.verColumnaKey">
                            <input [(ngModel)]="grilla.filtros['key']" *ngIf="grilla.mostrarFiltro('key')"
                                   type="text" class="form-control filtroGrilla" 
                                   placeholder="{{'moduloDesarrolladores.key' | translate}}">
                        </th>
                        <th *ngIf="tipoPerfilUsuario=='Desarrollador' && !grilla.verColumnaKey"
                            colspan="1" style="width:24px; padding-left:0px; padding-right:0px;"></th>

                        <th></th>  <!-- Orden -->                                   
                                
                        <th>
                            <input [(ngModel)]="grilla.filtros['ubicacion.nombre']" *ngIf="grilla.mostrarFiltro('ubicacion.nombre')" 
                                   (keyup)="filtrarGrilla('ubicacion.nombre')"                                    
                                   type="text" class="form-control filtroGrilla" placeholder="{{'moduloOrganizaciones.ubicacion' | translate}}">
                        </th>                                     
                        <th>
                            <input [(ngModel)]="grilla.filtros['ubicacion.calle']" *ngIf="grilla.mostrarFiltro('ubicacion.calle')" 
                                   (keyup)="filtrarGrilla('ubicacion.calle')"                                    
                                   type="text" class="form-control filtroGrilla" placeholder="{{'claseDireccion.ciudad' | translate}}">
                        </th>                                                                 
                        <th>
                            <input [(ngModel)]="grilla.filtros['ubicacion.ciudad']" *ngIf="grilla.mostrarFiltro('ubicacion.ciudad')" 
                                   (keyup)="filtrarGrilla('ubicacion.ciudad')"                                    
                                   type="text" class="form-control filtroGrilla" placeholder="{{'claseDireccion.ciudad' | translate}}">
                        </th>                                                                 
                        <th>
                            <select [(ngModel)]="grilla.filtros['estadoParadaKN.key']" *ngIf="grilla.mostrarFiltro('estadoParadaKN.key')"
                                    id="filtro_estadoParadaKN" 
                                    class="form-control filtroGrilla selectpicker"
                                    [ngStyle]="grilla.filtrosStyle['estadoParadaKN.key']"
                                    [ngClass]="grilla.filtros['estadoParadaKN'] ? 'filtroConValor' : 'filtroSinValor'"
                                    (change)="filtrarGrilla('estadoParadaKN.key')">                                       
                                    <option [ngValue]="null">{{'moduloRutas.estadoParada' | translate}}</option>                           
                               <ng-container *ngFor="let opcion of msg.cacheColecciones['AuxEstadosParadas']">    
                                    <option [ngValue]="opcion.key"> {{opcion.nombre | translate}}</option>
                               </ng-container>            
                            </select>            
                        </th>                                                             
                        <th>
                            <input type="text" [owlDateTime]="grillaFiltrosFechaHoraInicioPlaneada" 
                                id="grillaFiltrosFechaHoraInicioPlaneada" 
                                class="form-control filtroGrilla" 
                                placeholder="{{'claseDateTime.periodo' | translate}}" 
                                style="background:white;" 
                                [owlDateTimeTrigger]="grillaFiltrosFechaHoraInicioPlaneada"
                                [selectMode]="'range'" READONLY>  
                            <owl-date-time #grillaFiltrosFechaHoraInicioPlaneada 
                                pickerType="calendar"
                                (afterPickerClosed)="closeFilterRangoFechas('fechaHoraInicioPlaneada','grillaFiltrosFechaHoraInicioPlaneada')"></owl-date-time>                                    
                        </th> 
                        
                        <th></th> <!-- Km -->
                        
                        <th class="align-middle" style="padding-top:0px; padding-bottom:0px;">
                            <button title="{{'navegabilidad.reset' | translate}}"
                                    class="btn btn-link btn-lg"
                                    (click)="resetFiltros()"><i class="fa fa-eraser ml-3 text-secondary"></i></button>
                        </th>

                    </tr>

                    <!-- Títulos de Columnas -->
                    <tr> 
                        <th *ngIf="tipoPerfilUsuario=='Desarrollador' && grilla.verColumnaKey"
                            [class.active]="grilla.orderField === 'key'"
                            (click)="onChangeGrilla('order','key')" style="padding-bottom:0px;">

                                <button class="btn btn-link btn-lg"  
                                    style="padding-left:0px; padding-top:0px; margin-right:30px;"
                                    title="{{'grilla.ocultarKey' | translate}}" 
                                    *ngIf="permisos.altasAutorizadas" 
                                    (click)="grilla.verColumnaKey=!grilla.verColumnaKey"><i class="mdi mdi-unfold-less-vertical mdi-24px text-dark"
                                   aria-hidden="true"></i></button>

                                {{'moduloDesarrolladores.key' | translate}}<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th>
                        <th *ngIf="tipoPerfilUsuario=='Desarrollador' && !grilla.verColumnaKey"
                         (click)="grilla.verColumnaKey=!grilla.verColumnaKey" title="{{'grilla.mostrarKey' | translate}}"
                                colspan="1"
                                style="width:10px; padding-left:0px; padding-right:0px; text-align:center;">
                            ...
                        </th>

                        <th [class.active]="grilla.orderField === 'ubicacion.orden'" class="text-left"
                            (click)="onChangeGrilla('order','ubicacion.orden')"
                            translate>claseFicha.orden<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th>                         
                        <th [class.active]="grilla.orderField === 'ubicacion.nombre'" class="text-left"
                            (click)="onChangeGrilla('order','ubicacion.nombre')"
                            translate>moduloOrganizaciones.ubicacion<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th> 
                        <th [class.active]="grilla.orderField === 'ubicacion.calle'" class="text-left" colspan="2"
                            (click)="onChangeGrilla('order','ubicacion.calle')" translate>claseDireccion.direccion<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                            
                            <b [class.active]="grilla.orderField === 'ubicacion.ciudad'" class="text-left"
                            (click)="onChangeGrilla('order','ubicacion.calle')" translate>claseDireccion.ciudad<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span></b>
                        </th> 
                        <th [class.active]="grilla.orderField === 'estadoParadaKN.nombre'" class="text-center"
                            (click)="onChangeGrilla('order','estadoParadaKN.nombre')" translate>moduloRutas.estadosParadas<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th> 
                        <th [class.active]="grilla.orderField === 'fechaHoraInicioPlaneada'" class="text-center"
                            (click)="onChangeGrilla('order','fechaHoraInicioPlaneada')" translate>moduloRutas.inicio<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th> 

                        <th class="text-center" translate>Kms</th> 
                        
                        <th class="align-middle" style="padding-top:0px; padding-bottom:0px;">
                            <!-- Agregar -->
                            <button class="btn btn-link btn-lg"  
                            title="{{'navegabilidad.agregar' | translate}}" 
                            *ngIf="permisos.altasAutorizadas" (click)="abrirFormulario(null)"><i class="fa fa-plus ml-3 text-success"></i></button>
                        </th>    

                    </tr>

                </thead>
                <tbody>

                    <!-- ----------------------------------------------------------------- -->
                    <!-- ------- Orden, Filtros y Paginado ------------------------------- -->
                    <!-- ----------------------------------------------------------------- -->

                    <ng-container *ngFor="let documento of listadoPrincipal 
                                | orderBy :grilla.orderField :grilla.orderReverse :'case-insensitive'                                        
                                | searchFiltro:grilla.paginadoTipo:'key':grilla.filtros['key']
                                | searchFiltro:grilla.paginadoTipo:'ubicacion.nombre':grilla.filtros['ubicacion.nombre']                                        
                                | searchFiltro:grilla.paginadoTipo:'ubicacion.calle':grilla.filtros['ubicacion.calle']
                                | searchFiltro:grilla.paginadoTipo:'ubicacion.ciudad':grilla.filtros['ubicacion.ciudad']
                                | searchFiltro:grilla.paginadoTipo:'estadoParadaKN.key':grilla.filtros['estadoParadaKN.key']   
                                | searchFiltro:grilla.paginadoTipo:'fechaHoraInicioPlaneada':grilla.filtros['fechaHoraInicioPlaneada']   
                                | searchFiltro:grilla.paginadoTipo:'settings.borradoFisico':false:'boolean'   
                                | paginate: { itemsPerPage: grilla.paginadoCantidad, 
                                              currentPage : pagePaginado,
                                              totalItems  : grilla.resultCantidad }; 
                                  let index = index"> 

                         <tr [ngStyle]="grilla.colorFilaSegunEstado(documento.settings)">

                            <td *ngIf="tipoPerfilUsuario=='Desarrollador' && grilla.verColumnaKey"
                                class="align-middle"
                                (click)="abrirFormulario(documento)"> 
                                <span class="align-left">{{documento.key}}</span>                                
                            </td>
                            <td *ngIf="tipoPerfilUsuario=='Desarrollador' && !grilla.verColumnaKey"
                                (click)="grilla.verColumnaKey=!grilla.verColumnaKey"
                                colspan="1"
                                style="width:12px; padding-left:0px; padding-right:0px;"></td>

                            <td class="align-middle text-left" (click)="abrirFormulario(documento)">
                                <span *ngIf="['Parada'].indexOf( fn.mostrarKN(documento.tipoParada,'key') )!=-1">{{documento.orden}}</span>
                            </td>                                            
                                    
                            <td class="align-middle text-left" (click)="abrirFormulario(documento)">
                                <span class="align-middle" style="color:#666; font-weight:bold;">{{documento.ubicacion.nombre}}</span><br>
                                <span [ngStyle]="getColorParada(documento.tipoParada)">{{fn.mostrarKN(documento.tipoParada,'nombre') | translate}}</span>
                            </td>                                            
                            <td class="align-middle text-left" (click)="abrirFormulario(documento)" colspan="2">
                                {{documento.ubicacion.direccion.calle}}
                                <span *ngIf="documento.ubicacion.direccion.numero">&nbsp;{{documento.ubicacion.direccion.numero}}</span>
                                <span *ngIf="documento.ubicacion.direccion.bloque">&nbsp;{{documento.ubicacion.direccion.bloque}}</span>
                                <span *ngIf="documento.ubicacion.direccion.piso">&nbsp;{{documento.ubicacion.direccion.piso}}</span>
                                <span *ngIf="documento.ubicacion.direccion.departamento">&nbsp;{{documento.ubicacion.direccion.departamento}}</span>
                                <span class="align-middle" style="color:#666; font-weight:bold;">
                                    <br>{{documento.ubicacion.direccion.ciudad}}
                                    <!-- <span *ngIf="documento.ubicacion.direccion.partido">&nbsp;({{documento.ubicacion.direccion.partido}})</span> -->
                                </span>    
                            </td>    
                            <td class="align-middle text-center" (click)="abrirFormulario(documento)" translate>
                                {{fn.mostrarKN(documento.estadoParadaKN,'nombre')}}
                            </td>    
                            <td class="align-middle text-center" (click)="abrirFormulario(documento)">
                                <span class="align-middle" style="color:#666; font-weight:bold;">{{documento.fechaHoraInicioPlaneada | date:'DD/MM/AAAA':activeLang}}</span><br>
                                <span class="align-middle">{{documento.fechaHoraInicioPlaneada | date:'HH:MM hs':activeLang}}</span>                          
                            </td>    
                            <td class="align-middle text-center" (click)="abrirFormulario(documento)">
                                {{kmDistanciaDireccionAnterior(index) | number : '1.2-2'}} 
                            </td>    
                    
                            <td class="align-middle">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-link btn-lg" style="padding-left:0px; padding-right:0px;"
                                            title="{{'navegabilidad.consultar' | translate}}"
                                            (click)="abrirFormulario(documento)"><i class="fa fa-search mr-3 text-primary"></i></button>

                                    <!-- borrado lógico -->
                                    <button *ngIf="permisos.bajasAutorizadas &&
                                            documento.settings.documentosAsociados==0 && documento.settings.isBorrado==false" 
                                            title="{{'navegabilidad.eliminar' | translate}}"
                                            class="btn btn-link btn-lg"  style="padding-left:0px; padding-right:0px;"
                                            (click)="deleteDocumento('borradoLogico', documento)"><i class="fa fa-trash mr-3 text-danger"></i></button>

                                    <button *ngIf="permisos.bajasAutorizadas &&
                                            documento.settings.documentosAsociados>0 && documento.settings.isBorrado==false" 
                                            title="{{fn.titleMensaje('claseValidaciones.documentosAsociados',documento.settings.documentosAsociados)}}"
                                            class="btn btn-link btn-lg"  style="padding-left:0px; padding-right:0px;"
                                            (click)="fn.alertMensaje('claseValidaciones.documentosAsociados',documento.settings.documentosAsociados)"><i class="fa fa-trash mr-3 text-deshabilitado"></i></button>

                                    <!-- borrado físico -->
                                    <button *ngIf="permisos.bajasAutorizadas && documento.settings.isBorrado &&
                                                  ['Desarrollador','Supervisor','Distribuidor'].indexOf(tipoPerfilUsuario)!=-1"
                                            title="{{'navegabilidad.eliminarFisicamente' | translate}}"
                                            class="btn btn-link btn-lg" style="padding-left:0px; padding-right:0px;"
                                            (click)="deleteDocumento('borradoFisico',documento)"><i class="fa fa-remove mr-3 text-danger"></i></button>

                                </div>
                            </td>
                        </tr>

                    </ng-container>

                </tbody>
            </table>

            <!-- paginado -->
            <div class="row" style="border-top:1px solid #ccc;">
                <div class="col-3" style="padding:10px;">
                    <div class="bg-white text-center">
                        <select class="form-control selectpicker" 
                                id="grilla.paginadoCantidad"                                         
                                [(ngModel)]="grilla.paginadoCantidad"
                                (change)="onChangeGrilla('paginadoCantidad',grilla.paginadoCantidad)"> 
                            <ng-container *ngFor="let opcion of grilla.paginadoDropDown">
                                <option [ngValue]="opcion">Items x Página {{opcion}}</option>
                            </ng-container>
                        </select>
                    </div>    
                </div>    
                <div class="col-9" style="padding:10px;">
                    <div class="bg-white text-center">

                        <!-- Paginado Local -->
                        <pagination-controls 
                            *ngIf="grilla.paginadoTipo=='local'"
                            autoHide="{{grilla.paginadoAutoHide}}" 
                            previousLabel="{{'componente-paginado.anterior' | translate}}" 
                            nextLabel="{{'componente-paginado.siguiente' | translate}}" 
                            (pageChange)="pagePaginado = $event" 
                            maxSize="3"></pagination-controls>

                        <!-- Paginado Servidor -->
                        <lib-shared-paginado-servidor 
                            *ngIf="grilla.paginadoTipo=='servidor'"
                            [grilla]="grilla" 
                            (clickPaginado)="emitClickPaginado($event)"></lib-shared-paginado-servidor>

                    </div>
                </div>                        
            </div>

        </div>
    </div>

</div>

<!-- *************** FORMULARIO ************************************ -->
<div *ngIf="['agregar','modificar','consultar'].indexOf(accionForm)!=-1">
    
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    
        <table class="table" style="border:hidden;">

            <tr>
                <td style="padding-bottom:0px;">
                    <span style="font-size:20px;"><b><span translate>moduloRutas.parada</span>: </b></span>
                    <span style="font-size:20px;">{{fn.mostrarKN(form.value.ubicacion,'nombre')}}</span>
                </td>                      
                <td style="width:220px; text-align:right; padding-top:18px; padding-bottom:0px;">
                    <lib-shared-form-buttons [accionForm]='accionForm' 
                                      [permisos]='permisos' 
                                      (setAccion)="setAccionForm($event)"
                                      (onSubmitComponent)="onSubmit(form.value)"></lib-shared-form-buttons>
                </td>                      
                <td style="width:60px; padding-top:18px; padding-bottom:0px;" *ngIf="accionForm=='consultar'">
                    <button type="button" 
                            *ngIf="['modificar','agregar'].indexOf(accionForm)==-1"
                            class="btn btn-warning"  style="float:right;"
                            (click)="setAccionForm('listado')" translate>navegabilidad.cerrar</button>
                </td>                      

            </tr>                      
        </table>

        <!-- ********* Datos Generales ********** -->
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0" translate>claseTabs.basic</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                                     
                </div>        
            </div>
            <div class="card-body pt-0 widget-body"> 
                
                    <div class="row" style="margin-top:10px;">
                        <div class="col-6">
                            
                                <!-- Código -->
                                <div class="form-group">
                                    <label class="text-gray" translate>claseFicha.codigo<span class="required">*</span></label>
                                    <input formControlName="codigo" class="form-control validation-field" type="text">
                                    <small class="text-danger" *ngIf="form.controls.codigo.touched && form.controls.codigo.errors?.required"><span translate>claseFicha.codigo</span>&nbsp;<span translate>claseValidaciones.esRequerido</span></small>                              
                                </div>
                            
                                <!-- Tipo de Parada -->
                                <div class="form-group">
                                    <label class="text-gray" translate>moduloRutas.tipoParada<span class="required">*</span></label>
                                    <select class="form-control selectpicker validation-field" 
                                            id="tipoParada" formControlName="tipoParada" [compareWith]="compareFn">
                                        <option [ngValue]="null">{{'No Indicada' | translate}}</option>                                  
                                        <ng-container *ngFor="let option of msg.cacheColecciones['AuxTiposParadas']">
                                            <option [ngValue]="option">{{option.nombre | translate}}</option>
                                        </ng-container>
                                    </select>
                                    <small class="text-danger" 
                                           *ngIf="form.controls.tipoParada.touched && 
                                                  form.controls.tipoParada.errors?.required"><span translate>moduloRutas.tipoParada</span>&nbsp;<span translate>claseValidaciones.esRequerido</span></small>
                                </div>
                            
                                <!-- Ubicación -->
                                <div class="form-group">
                                    <label class="text-gray" translate>moduloOrganizaciones.ubicacion</label>
                                    <lib-shared-search-autocomplete 
                                        id="form_ubicacion"
                                        [value]="form.value.ubicacion"
                                        [nameField]="'nombre'" 
                                        [nombreColeccion]="'Ubicaciones'" 
                                        [inputStyle]="{}" 
                                        [placeholder]="'moduloOrganizaciones.ubicacion'"
                                        [whereArray]="whereUbicaciones" 
                                        [orderByArray]="[]" 
                                        [bdFieldName]="'nombre'" 
                                        [organizacionKNAI]="organizacionKNAI"     
                                        [tipoPerfilUsuario]="tipoPerfilUsuario"     
                                        [accionForm]="accionForm"     
                                        [usuarioKANE]="usuarioKANE"     
                                        (cargoSearchAutocomplete)="EmitCargoSearchAutocompleteForm('ubicacion','OBJ',$event)"></lib-shared-search-autocomplete> 
                                        
                                    <small class="text-danger" 
                                    *ngIf="form.controls.ubicacion.touched && 
                                           form.controls.ubicacion.errors?.required"><span translate>moduloOrganizaciones.ubicacion</span>&nbsp;<span translate>claseValidaciones.esRequerido</span></small>                                     
                                </div>
                                
                                <!-- Dirección (de la Ubicación) -->
                                <div class="form-group">
                                    <label class="text-gray" translate>claseDireccion.direccion</label>
                                    <textarea class="form-control validation-field"
                                              rows="2" readonly>{{ubicacion_direccion}}</textarea>
                                </div>
                                
                        </div>
                        <div class="col-6">                        

                                <!-- Estado Parada -->
                                <div class="form-group">
                                    <label class="text-gray" translate>moduloRutas.estadoParada</label>
                                    <select class="form-control selectpicker validation-field" 
                                            id="tipoParada" formControlName="estadoParadaKN" [compareWith]="compareFn"
                                            [disabled]="tipoPerfilUsuario!='Desarrollador'">
                                        <ng-container *ngFor="let option of msg.cacheColecciones['AuxEstadosParadas']">
                                            <option [ngValue]="option">{{option.nombre | translate}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            
                                <!-- Código Pedido -->
                                <div class="form-group">
                                    <label class="text-gray" translate>moduloRutas.codigoPedido</label>
                                    <input formControlName="codigoPedido" class="form-control validation-field" type="text">
                                    <small class="text-danger" *ngIf="form.controls.codigoPedido.touched && form.controls.codigoPedido.errors?.required"><span translate>claseFicha.codigo</span>&nbsp;<span translate>claseValidaciones.esRequerido</span></small>                              
                                </div>
                            
                                <!-- Instrucciones -->
                                <div class="form-group">
                                    <label class="text-gray" translate>moduloRutas.instrucciones</label>
                                    <textarea class="form-control validation-field" 
                                            name="instruccionesParaConductor" id="instruccionesParaConductor" formControlName="instruccionesParaConductor" 
                                            rows="6" placeholder=""></textarea>
                                </div>
                        </div>
                    
                    </div>
                        
            </div> <!-- FIN card-body -->
        </div> <!-- FIN widget -->
        
        <!-- ********* arribo y salida planificada de la parada ********** -->
        <div widget class="card border-0 box-shadow" style="margin-top:10px;">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0" translate>moduloRutas.planificado</h5>
                <div class="widget-controls"> 
                     <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                                     
                </div>        
            </div>
            <div class="card-body pt-0 widget-body"> 
                
                <div class="row">
                    
                    <div class="col-6">

                            <!-- Fecha/Hora de Inicio -->
                            <div class="form-group">
                                <label class="text-gray" translate>claseDateTime.fechaHora <span translate>moduloRutas.inicio</span><span class="required">*</span></label>
                                <div class="input-group">
                                    <input [owlDateTime]="fechaHoraInicioPlaneada" 
                                           id="fechaHoraInicioPlaneada" 
                                           formControlName="fechaHoraInicioPlaneada" 
                                           class="form-control validation-field" type="text" placeholder="">
                                    <div class="input-group-append">
                                        <span [owlDateTimeTrigger]="fechaHoraInicioPlaneada" 
                                        class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <owl-date-time #fechaHoraInicioPlaneada 
                                        (afterPickerClosed)="closeDateTimePicker('fechaHoraInicioPlaneada',form.value.fechaHoraInicioPlaneada)">
                                    </owl-date-time>
                                </div>
                                <small *ngIf="form.controls.fechaHoraInicioPlaneada.touched && 
                                              form.controls.fechaHoraInicioPlaneada.errors?.required" 
                                       class="text-danger"><span translate>moduloDateTime.fechaHora</span>&nbsp;<span translate>moduloRutas.inicio</span><span translate>claseValidaciones.esRequerido</span></small>
                            </div>                                                            

                    </div>
                    
                    <div class="col-6">

                            <!-- Fecha/Hora de Finalización -->
                            <div class="form-group">
                                <label class="text-gray" translate>claseDateTime.fechaHora <span translate>moduloRutas.finalizacion</span><span class="required">*</span></label>
                                <div class="input-group">
                                    <input [owlDateTime]="fechaHoraFinalizacionPlaneada" 
                                           id="fechaHoraFinalizacionPlaneada" 
                                           formControlName="fechaHoraFinalizacionPlaneada" 
                                           class="form-control validation-field" type="text" placeholder="">
                                    <div class="input-group-append">
                                        <span [owlDateTimeTrigger]="fechaHoraFinalizacionPlaneada" 
                                        class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <owl-date-time #fechaHoraFinalizacionPlaneada 
                                        (afterPickerClosed)="closeDateTimePicker('fechaHoraFinalizacionPlaneada',form.value.fechaHoraArriboPlaneada)">
                                    </owl-date-time>
                                </div>
                                <small *ngIf="form.controls.fechaHoraFinalizacionPlaneada.touched && 
                                              form.controls.fechaHoraFinalizacionPlaneada.errors?.required" 
                                       class="text-danger"><span translate>moduloDateTime.fechaHora</span>&nbsp;<span translate>moduloRutas.finalizacion</span><span translate>claseValidaciones.esRequerido</span></small>
                            </div>                                                            
                            
                    </div>
                        
                </div>  

            </div> <!-- FIN card-body -->
        </div> <!-- FIN widget -->
        
        <!-- ********* salida y llegada real ********** -->
        <div widget class="card border-0 box-shadow" style="margin-top:10px;">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0" translate>moduloRutas.real</h5>
                <div class="widget-controls"> 
                     <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                                     
                </div>        
            </div>
            <div class="card-body pt-0 widget-body"> 
                
                <div class="row">
                    
                    <div class="col-6">

                            <!-- Fecha/Hora de Inicio -->
                            <div class="form-group">
                                <label class="text-gray" translate>claseDateTime.fechaHora <span translate>moduloRutas.inicio</span><span class="required">*</span></label>
                                <input formControlName="fechaHoraInicioReal"  id="fechaHoraInicioReal"                                                                 value="xx"
                                class="form-control" readonly>
                            </div>                                                            
                            
                    </div>
                    
                    <div class="col-6">

                            <!-- Fecha/Hora de Finalización -->
                            <div class="form-group">
                                <label class="text-gray" translate>claseDateTime.fechaHora <span translate>moduloRutas.finalizacion</span><span class="required">*</span></label>
                                <input formControlName="fechaHoraFinalizacionReal"  id="fechaHoraFinalizacionReal"                                                                 value="xx"
                                class="form-control" readonly>
                            </div>                                                            
                            
                    </div>
                        
                </div>        


            </div> <!-- FIN card-body -->
        </div> <!-- FIN widget -->

        <!-- ********* Entregar ********** -->
        <div widget class="card border-0 box-shadow" style="margin-top:20px;" *ngIf="form.value.ubicacion">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0" translate>moduloRutas.entregar</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                                     
                </div>        
            </div>
            <div class="card-body pt-0 widget-body"> 
                

                <div class="row"  formGroupName="unidadesMedidaEntregarPlanificadas">

                    <!-- Planificado -->
                    <div class="form-group col-3">
                        <label class="text-gray" style="margin-top:20px;" translate>moduloRutas.planificado<span class="required">*</span></label>
                    </div>
                    
                    <!-- Unidad1 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad1}}</label>
                        <input formControlName="unidad1" id="unidad1"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator=".">
                        <small class="text-danger" 
                               *ngIf="form.get('unidadesMedidaEntregarPlanificadas').get('unidad1').touched && 
                                      form.get('unidadesMedidaEntregarPlanificadas').get('unidad1').errors?.required"><span translate>{{nombresUnidadesMedida.unidad1}}</span>&nbsp;<span translate>claseValidaciones.esRequerido</span></small>                              
                    </div>
        
                    <!-- Unidad2 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad2}}</label>
                        <input formControlName="unidad2" id="unidad2"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator=".">
                        <small class="text-danger" 
                               *ngIf="form.get('unidadesMedidaEntregarPlanificadas').get('unidad2').touched && 
                                      form.get('unidadesMedidaEntregarPlanificadas').get('unidad2').errors?.required"><span translate>{{nombresUnidadesMedida.unidad2}}</span>&nbsp;<span translate>claseValidaciones.esRequerido</span></small>                              
                    </div>

                    <!-- Unidad3 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad3}}</label>
                        <input formControlName="unidad3" id="unidad3"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator=".">
                        <small class="text-danger" 
                               *ngIf="form.get('unidadesMedidaEntregarPlanificadas').get('unidad3').touched && 
                                      form.get('unidadesMedidaEntregarPlanificadas').get('unidad3').errors?.required"><span translate>{{nombresUnidadesMedida.unidad3}}</span>&nbsp;<span translate>claseValidaciones.esRequerido</span></small>                              
                    </div>
                    
                </div>    

                <div class="row"  formGroupName="unidadesMedidaEntregarReales">

                    <!-- Reales -->
                    <div class="form-group col-3">
                        <label class="text-gray" style="margin-top:20px;" translate>moduloRutas.real<span class="required">*</span></label>
                    </div>
                    
                    <!-- Unidad1 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad1}}</label>
                        <input formControlName="unidad1" id="unidad1"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator="." 
                               readonly>
                    </div>
        
                    <!-- Unidad2 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad2}}</label>
                        <input formControlName="unidad2" id="unidad2"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator="." 
                               readonly>
                    </div>

                    <!-- Unidad3 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad3}}</label>
                        <input formControlName="unidad3" id="unidad3"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator="."
                               readonly>
                    </div>
                    
                </div>    
                
            </div> <!-- FIN card-body -->
        </div> <!-- FIN widget -->
        
        <!-- ********* Retirar ********** -->
        <div widget class="card border-0 box-shadow" style="margin-top:20px;" *ngIf="form.value.ubicacion">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0" translate>moduloRutas.retirar</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                                     
                </div>        
            </div>
            <div class="card-body pt-0 widget-body"> 
                

                <div class="row"  formGroupName="unidadesMedidaRetirarPlanificadas">

                    <!-- Planificado -->
                    <div class="form-group col-3">
                        <label class="text-gray" style="margin-top:20px;" translate>moduloRutas.planificado<span class="required">*</span></label>
                    </div>
                    
                    <!-- Unidad1 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad1}}</label>
                        <input formControlName="unidad1" id="unidad1"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator=".">
                        <small class="text-danger" 
                               *ngIf="form.get('unidadesMedidaRetirarPlanificadas').get('unidad1').touched && 
                                      form.get('unidadesMedidaRetirarPlanificadas').get('unidad1').errors?.required"><span translate>{{nombresUnidadesMedida.unidad1}}</span>&nbsp;<span translate>claseValidaciones.esRequerido</span></small>                              
                    </div>
        
                    <!-- Unidad2 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad2}}</label>
                        <input formControlName="unidad2" id="unidad2"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator=".">
                        <small class="text-danger" 
                               *ngIf="form.get('unidadesMedidaRetirarPlanificadas').get('unidad2').touched && 
                                      form.get('unidadesMedidaRetirarPlanificadas').get('unidad2').errors?.required"><span translate>{{nombresUnidadesMedida.unidad2}}</span>&nbsp;<span translate>claseValidaciones.esRequerido</span></small>                              
                    </div>

                    <!-- Unidad3 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad3}}</label>
                        <input formControlName="unidad3" id="unidad3"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator=".">
                        <small class="text-danger" 
                               *ngIf="form.get('unidadesMedidaRetirarPlanificadas').get('unidad3').touched && 
                                      form.get('unidadesMedidaRetirarPlanificadas').get('unidad3').errors?.required"><span translate>{{nombresUnidadesMedida.unidad3}}</span>&nbsp;<span translate>claseValidaciones.esRequerido</span></small>                              
                    </div>
                    
                </div>    

                <div class="row"  formGroupName="unidadesMedidaRetirarReales">

                    <!-- Reales -->
                    <div class="form-group col-3">
                        <label class="text-gray" style="margin-top:20px;" translate>moduloRutas.real<span class="required">*</span></label>
                    </div>
                    
                    <!-- Unidad1 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad1}}</label>
                        <input formControlName="unidad1" id="unidad1"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator="." 
                               readonly>
                    </div>
        
                    <!-- Unidad2 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad2}}</label>
                        <input formControlName="unidad2" id="unidad2"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator="." 
                               readonly>
                    </div>

                    <!-- Unidad3 -->                        
                    <div class="form-group col-3">
                        <label translate>{{nombresUnidadesMedida.unidad3}}</label>
                        <input formControlName="unidad3" id="unidad3"                              
                               type="text" class="form-control validation-field"
                               mask="separator.2" thousandSeparator="."
                               readonly>
                    </div>
                    
                </div>    
                
            </div> <!-- FIN card-body -->
        </div> <!-- FIN widget -->

        <!-- settings   -->
        <lib-shared-form-settings *ngIf="accionForm!='agregar'"
            [nameField]="'settings'" 
            [controlsField]="form.controls.settings"
            [value]="form.value.settings"
            [accionForm]="accionForm" 
            [formInvalid]="formInvalid" 
            [tipoPerfilUsuario]="tipoPerfilUsuario"
            (cargoSubEstructura)="emitCargoSubEstructura($event)"></lib-shared-form-settings>
                            

        <lib-shared-form-buttons [accionForm]='accionForm' style="margin-top:10px;"
                          [permisos]='permisos' 
                          (setAccion)="setAccionForm($event)"
                          (onSubmitComponent)="onSubmit(form.value)"></lib-shared-form-buttons>

    </form>    

</div>
