

/* Titulos Grillas Panel */
.tituloRow1 {
    background: #c8e8ff;; 
    border-radius:5px; 
    height:48px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px; 
    margin-bottom:10px;
}
.tituloTexto1 {
  float:left; 
  margin-top:5px;
  font-size:16px;
  color: #2F3E9E;
}
.seleccionOrden{
  margin-top:5px;
  font-size:16px;
  color: #2F3E9E;
}