$color1: #345676;  // Azul Maqueta
$color1-over: #6f8daa;

$color2: #d43076;   // Rosa
$color2-over: #dd5a92; 

$font-family-website: "Roboto,Helvetica Neue";
//$font-family-website: "Heebo,Helvetica Neue";

$color-background-menu-celular: #002053;   // Azul (Atlantic), White (Lacnog)
$color-lineas-menu-celular: #f29400;   // #f29400 Amarillo (Atlantic) /  #ccc (Lacnog)
$color-linea-top-menu-celular: #f29400;   // white (Atlantic), black (Lacnog)
$color-linea-bottom-menu-celular: #f29400;   // white (Atlantic), black (Lacnog)

