<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#ccc"
  type="ball-spin"
  template="<img src='{{appSettings.settings2.cliente.logos.loading}}'>">
  <p style="font-size: 16px; color: #ccc" *ngIf="cualSpinner=='buscando'" translate>componente-ngx-spinner.buscandoInformacion</p>
  <p style="font-size: 16px; color: #ccc" *ngIf="cualSpinner!='buscando'" translate>componente-ngx-spinner.grabando</p>
</ngx-spinner>

<div translate>{{errorMensaje}}</div>

<div class="row tituloRow">
    <div class="col-lg-12 col-12">        
        <span class="tituloTexto">
            <b>{{'soap.conectorEmpleados' | translate}}</b>
        </span>                
    </div>
</div>

<div widget class="card border-0 box-shadow" >
    <div class="card-header transparent border-0 text-muted">
        <div class="widget-controls"> 
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        </div>        
    </div>
    <div class="card-body pt-0 widget-body"> 

        <!--------------- Filtros RoadNet -------------------->                        
        <div  class="row" >
            <div class="col-12">

                <table class="table table-hover GrillaFiltrosRegion" style="width:100%; margin-bottom:0px;">

                    <thead>

                        <tr> 
                            <th style="width:140px;">
                                <!-- Organización -->
                                    <input *ngIf="organizacionKNAI===undefined || (organizacionKNAI!==undefined && ['Desarrollador','Supervisor','Distribuidor'].indexOf(tipoPerfilUsuario)==-1)" 
                                           value="{{fn.mostrarKN(this.organizacionSoap,'nombre')}}" 
                                           class="form-control filtroGrilla validation-field" 
                                           style="height:35px; font-weight:bold; font-size:11px;"
                                           type="text" readonly> 
                                           
                                    <lib-shared-search-autocomplete 
                                        *ngIf="organizacionKNAI!==undefined && ['Desarrollador','Supervisor','Distribuidor'].indexOf(tipoPerfilUsuario)!=-1"
                                        id="form_organizacionSoap"
                                        [value]="this.organizacionSoap"
                                        [nameField]="'nombre'" 
                                        [nombreColeccion]="'Organizaciones'" 
                                        [inputStyle]="{}" 
                                        [placeholder]="'moduloOrganizaciones.organizacion'"
                                        [whereArray]="[]" 
                                        [orderByArray]="[]" 
                                        [bdFieldName]="'nombre'" 
                                        [organizacionKNAI]="organizacionKNAI"     
                                        [tipoPerfilUsuario]="tipoPerfilUsuario"     
                                        [accionForm]="accionForm"     
                                        [usuarioKANE]="usuarioKANE"     
                                        (cargoSearchAutocomplete)="EmitCargoSearchAutocompleteOrganizacionSoap($event)"></lib-shared-search-autocomplete>                                     

                            </th>      
                            
                            <th style="width:200px;">
                                <!-- Conectores -->                                
                                <select [(ngModel)]="filtroSoapConector"
                                        id="filtro_filtroSoapConector" 
                                        class="form-control filtroGrilla selectpicker"
                                        [ngClass]="filtroSoapConector ? 'filtroConValor' : 'filtroSinValor'" 
                                        [compareWith]="compareFn">                                       
                                    <option *ngIf="listadoConectoresSoap && listadoConectoresSoap.length!=1"
                                            [ngValue]="null">{{'soap.conector' | translate}}</option>    
                                    <ng-container *ngFor="let opcion of listadoConectoresSoap">    
                                        <option [ngValue]="opcion">{{opcion.nombre}}</option>
                                    </ng-container>            
                                </select>
                            </th> 
                            
                            <th>
                                <!-- Host -->
                                    <input [value]="getHostConector()" 
                                           class="form-control filtroGrilla validation-field" 
                                           style="height:35px; font-weight:bold; font-size:11px;"
                                           placeholder="Host"
                                           type="text" readonly>                                                                                                    
                            </th>
                            
                        </tr>
                    </thead>
                </table>
                
                <table class="table table-hover GrillaFiltrosRegion" style="width:100%; margin-top:0px;">  

                    <thead>

                        <tr> 
                            
                            <th>
                                <!-- Sucursales -->                                
                                <select [(ngModel)]="filtroSoapSucursalKey"
                                        (change)="getListadoAreasNegocio()"
                                        id="filtro_filtroSoapSucursalKey" 
                                        class="form-control filtroGrilla selectpicker"
                                        [ngClass]="filtroSoapSucursalKey ? 'filtroConValor' : 'filtroSinValor'">                                       
                                    <option *ngIf="listadoSucursales && listadoSucursales.length!=1"
                                            [ngValue]="null">{{'soap.region' | translate}}</option>    
                                    <ng-container *ngFor="let opcion of listadoSucursales">    
                                        <option [ngValue]="opcion.key"> {{opcion.codigo}} - {{opcion.nombre | translate}}</option>
                                    </ng-container>            
                                </select>
                            </th> 

                            <th class="align-middle" style="padding-top:0px; padding-bottom:0px; width:120px;">
                                
                                <div class="btn-group" role="group">
                                    
                                        <!-- Buscar -->
                                        <button title="{{'soap.buscarEnRoadNet' | translate}}"
                                                class="btn btn-link btn-lg"
                                                (click)="ejecutarSoap()"><i class="fa fa-search ml-3 text-primary"></i></button>

                                        <!-- Reset -->                                                
                                        <button title="{{'navegabilidad.reset' | translate}}"
                                                class="btn btn-link btn-lg"
                                                (click)="resetFiltros()"><i class="fa fa-eraser ml-3 text-secondary"></i></button>
                                                
                                        <!-- Importar Archivo con Emails de Usuarios -->
                                        <button class="btn btn-link btn-lg" style="padding-left:0px; padding-right:0px;"
                                                data-toggle="tooltip" 
                                                *ngIf="listadoPrincipal.length>0"
                                                title="Imporar Achivo con Emails de Empleados" 
                                                
                                                (click)="fileInput1.click()">
                                    
                                            <input type="file" #fileInput1 
                                                   style="display:none;"  
                                                   (change)="onProcesarExcelMailsEmpleados($event);" />
                                            <i class="fa fa-cloud-upload ml-3 text-alert"></i>
                                        </button>
                                        
                                        <!-- Exportar -->                                                
                                        <button title="Descargar Excel con Empleados a completarle el Email"
                                                class="btn btn-link btn-lg"
                                                (click)="onExportarExcelACompletar()"><i class="fa fa-cloud-download ml-3 text-info"></i></button>
                                        
                                </div>        
                                        
                            </th>
                            
                        </tr>

                    </thead>
                </table>

            </div>
        </div>
        
        
        <!-- Listado Principal -->
        <div class="table-height">
            <table class="table table-hover table-bordered table-condensed table-td-condensed" *ngIf="listadoPrincipal.length>0">

                <thead style="position: sticky;top: 0;">

                    <!--------------- Filtros -------------------->
                    <tr> 
                        <th *ngIf="grilla.verColumnaKey" class="header" scope="col">
                            <input [(ngModel)]="grilla.filtros['key']" *ngIf="grilla.mostrarFiltro('key')"
                                   type="text" class="form-control filtroGrilla"                                    
                                   (keyup)="filtrarGrilla('key')"                                    
                                   placeholder="{{'moduloDesarrolladores.key' | translate}}">
                        </th>
                        <th *ngIf="!grilla.verColumnaKey" class="header" scope="col"
                            colspan="1" style="width:24px; padding-left:0px; padding-right:0px;"></th>

                        <th class="header" scope="col" style="width:120px;">
                            <input [(ngModel)]="grilla.filtros['codigo']" *ngIf="grilla.mostrarFiltro('codigo')" 
                                   (keyup)="filtrarGrilla('codigo')"                                    
                                   type="text" class="form-control filtroGrilla" placeholder="{{'soap.idEmpleado' | translate}}">
                        </th> 
                                
                        <th class="header" scope="col">
                            <input [(ngModel)]="grilla.filtros['datosPersonales.apellidoNombre']" *ngIf="grilla.mostrarFiltro('datosPersonales.apellidoNombre')" 
                                   (keyup)="filtrarGrilla('datosPersonales.apellidoNombre')"                                    
                                   type="text" class="form-control filtroGrilla" placeholder="{{'claseFicha.apellidoNombre' | translate}}">
                        </th> 
                        
                        <th class="header" scope="col">
                            <select [(ngModel)]="grilla.filtros['tipoEmpleadoId']"
                                    id="filtro_tipoEmpleadoId" 
                                    class="form-control filtroGrilla selectpicker"
                                    [ngStyle]="grilla.filtrosStyle['tipoEmpleadoId']"
                                    [ngClass]="grilla.filtros['tipoEmpleadoId'] ? 'filtroConValor' : 'filtroSinValor'"
                                    (change)="filtrarGrilla('tipoEmpleadoId')"                                    >                                       
                                <option [ngValue]="null">{{'soap.tipoEmpleado' | translate}}</option>    
                                <ng-container *ngFor="let opcion of listadoSoapTiposEmpleados">    
                                    <option [ngValue]="opcion.tipoEmpleadoId"> {{opcion.nombre | translate}}</option>
                                </ng-container>            
                            </select>
                        </th> 

                        <th class="header" scope="col">
                            <input [(ngModel)]="grilla.filtros['status']" *ngIf="grilla.mostrarFiltro('status')" 
                                   (keyup)="filtrarGrilla('status')"                                    
                                   type="text" class="form-control filtroGrilla" placeholder="{{'soap.status' | translate}}">
                        </th> 

                        <th class="header" scope="col">
                            <select [(ngModel)]="grilla.filtros['isDriver']"  *ngIf="grilla.mostrarFiltro('isDriver')"
                                    (change)="filtrarGrilla('isDriver')"                                    
                                    class="form-control filtroGrilla selectpicker">
                                <option *ngFor="let item of LISTA_DE_FILTROS_SI_NO" [ngValue]="item.logic"> {{item.val | translate}}</option>
                            </select>
                        </th>                                 

                        <th class="header" scope="col">
                            <input [(ngModel)]="grilla.filtros['email']" *ngIf="grilla.mostrarFiltro('email')" 
                                   (keyup)="filtrarGrilla('email')"                                    
                                   type="text" class="form-control filtroGrilla" placeholder="{{'claseFicha.email' | translate}}">
                        </th> 
                        
                        <th class="header text-center" scope="col">
                            <select class="form-control selectpicker filtroGrilla" 
                                    [(ngModel)]="grilla.filtros['yaImportado']">
                                <option *ngFor="let item of LISTA_DE_FILTROS_SI_NO" [ngValue]="item.logic"> {{item.val | translate}}</option>
                            </select>
                        </th>                                 
                
                        <th class="header align-middle text-center" scope="col">
                            
                            <i class="fa fa-check text-light"  
                               *ngIf="importarTodos"  (click)="seleccionarTodosImportar()"></i>
                               
                            <i class="fa fa-square-o text-light" 
                               *ngIf="!importarTodos" (click)="seleccionarTodosImportar()"></i>
                            
                        </th> 
                        
                    </tr>

                    <!-- Títulos de Columnas -->
                    <tr class="titulo-grilla"> 

                        <th *ngIf="grilla.verColumnaKey"  class="header2" scope="col"
                            [class.active]="grilla.orderField === 'key'"
                            (click)="onChangeGrilla('order','key')" style="padding-bottom:0px;">

                                <button class="btn btn-link btn-lg"  
                                    style="padding-left:0px; padding-top:0px; margin-right:30px;"
                                    title="{{'grilla.ocultarKey' | translate}}" 
                                    *ngIf="permisos.altasAutorizadas" 
                                    (click)="grilla.verColumnaKey=!grilla.verColumnaKey"><i class="mdi mdi-unfold-less-vertical mdi-24px text-dark"
                                   aria-hidden="true"></i></button>

                                {{'moduloDesarrolladores.key' | translate}}<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th>
                        <th *ngIf="!grilla.verColumnaKey"  class="header2" scope="col"
                         (click)="grilla.verColumnaKey=!grilla.verColumnaKey" title="{{'grilla.mostrarKey' | translate}}"
                                colspan="1"
                                style="width:10px; padding-left:0px; padding-right:0px; text-align:center;">
                            ...
                        </th>

                        <th [class.active]="grilla.orderField === 'codigo'"  style="width:120px;"  class="header2" scope="col"
                            (click)="onChangeGrilla('order','codigo')"
                            translate>soap.idEmpleado<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th> 
                        
                        <th [class.active]="grilla.orderField === 'datosPersonales.apellidoNombre'"  class="header2" scope="col"
                            (click)="onChangeGrilla('order','datosPersonales.apellidoNombre')"
                            translate>claseFicha.apellidoNombre<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th> 

                        <th [class.active]="grilla.orderField === 'tipoEmpleadoNombre'" scope="col"
                            (click)="onChangeGrilla('order','tipoEmpleadoNombre')"
                            class="header2 text-left" translate>claseFicha.tipo<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th> 

                        <th [class.active]="grilla.orderField === 'status'" scope="col"
                            (click)="onChangeGrilla('order','status')"
                            class="header2 text-left" translate>soap.status<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th> 

                        <th [class.active]="grilla.orderField === 'isDriver'" scope="col"
                            (click)="onChangeGrilla('order','isDriver')"
                            class="header2 text-center" translate>soap.conductor<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th> 

                        <th [class.active]="grilla.orderField === 'email'" scope="col"
                            (click)="onChangeGrilla('order','email')"
                            class="header2 text-left" translate>claseFicha.email<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th> 

                        <th [class.active]="grilla.orderField === 'yaImportado'" scope="col"
                            (click)="onChangeGrilla('order','yaImportado')"
                            class="header2 text-center" translate>soap.importado<span [hidden]="grilla.orderReverse">▼</span><span [hidden]="!grilla.orderReverse">▲</span>
                        </th> 
                        
                        <th style="width:100px;"    scope="col"                      
                            class="header2 text-center" translate>soap.importar
                        </th> 

                    </tr>

                </thead>
                <tbody>

                    <!-- ----------------------------------------------------------------- -->
                    <!-- ------- Orden, Filtros y Paginado ------------------------------- -->
                    <!-- ----------------------------------------------------------------- -->

                    <ng-container *ngFor="let documento of listadoPrincipal 
                                | orderBy :grilla.orderField :grilla.orderReverse :'case-insensitive'                                        
                                | searchFiltro:grilla.paginadoTipo:'key':grilla.filtros['key']
                                | searchFiltro:grilla.paginadoTipo:'codigo':grilla.filtros['codigo']
                                | searchFiltro:grilla.paginadoTipo:'datosPersonales.apellidoNombre':grilla.filtros['datosPersonales.apellidoNombre']
                                | searchFiltro:grilla.paginadoTipo:'tipoEmpleadoId':grilla.filtros['tipoEmpleadoId']
                                | searchFiltro:grilla.paginadoTipo:'status':grilla.filtros['status']
                                | searchFiltro:grilla.paginadoTipo:'isDriver':grilla.filtros['isDriver']:'boolean'
                                | searchFiltro:grilla.paginadoTipo:'email':grilla.filtros['email']
                                | searchFiltro:grilla.paginadoTipo:'yaImportado':grilla.filtros['yaImportado']:'boolean'
                                | paginate: { itemsPerPage: grilla.paginadoCantidad, 
                                              currentPage : pagePaginado,
                                              totalItems  : grilla.resultCantidad }; 
                                  let index = index"> 

                         <tr [ngStyle]="colorFilaBody(documento)"
                             (mouseover)="grilla.keyHoverActivo=documento.key"
                             (mouseout)="grilla.keyHoverActivo=null"              
                             [ngClass]="grilla.keyHoverActivo==documento.key ? 'trHover' : 'trNotHover'">

                            <td *ngIf="grilla.verColumnaKey" (click)="seleccionarItem(documento.key)"
                                class="align-middle"> 
                                <span class="align-left">{{documento.key}}</span>
                            </td>
                            <td *ngIf="!grilla.verColumnaKey" (click)="seleccionarItem(documento.key)"
                                colspan="1"
                                style="width:12px; padding-left:0px; padding-right:0px;"></td>

                            <td class="align-middle" style="width:120px;" (click)="seleccionarItem(documento.key)">
                                <span class="align-middle">{{documento.codigo}}</span>
                            </td>    
                                    
                            <td class="align-middle" (click)="seleccionarItem(documento.key)">
                                <span class="align-left">{{documento.datosPersonales.apellidoNombre}}</span>
                            </td>    

                            <td class="align-middle" style="width:80px;" (click)="seleccionarItem(documento.key)">
                                <span class="align-middle">{{documento.tipoEmpleadoNombre}}</span>                            
                            </td>    

                            <td class="align-middle" style="width:60px;" (click)="seleccionarItem(documento.key)">
                                <span class="text-middle" title="{{documento.aptoImportar}}">{{documento.status}}</span>                            
                            </td>    
                            
                            <td class="align-middle text-center" style="width:60px;" (click)="seleccionarItem(documento.key)">
                                    <i class="fa fa-check text-secondary" 
                                       *ngIf="documento.isDriver && documento.yaImportado==false"></i>
                                       
                                    <i class="fa fa-check" style="color:#aaa;" 
                                       *ngIf="documento.isDriver && documento.yaImportado==true"></i>
                            </td>    

                            <td class="align-middle" (click)="editarEmail(documento, true)">
                                <span *ngIf="documento.editarEmail==false && documento.email"
                                      [ngStyle]="colorColumnaEmail(documento)"   
                                      class="text-left">{{documento.email}}</span>                            
                                
                                <input [(ngModel)]="emailFaltante[documento.key]" *ngIf="documento.editarEmail" 
                                        (focusout)="closeEditarEmail(documento, documento.key)"                                    
                                        (change)="editarEmail(documento, false)"                                    
                                        type="text" class="form-control" style="padding-top:0px; padding-bottom:0px;">
                             
                            </td>    
                            
                            <td class="align-middle text-center" style="width:60px;" (click)="seleccionarItem(documento.key)">
                                    <i class="fa fa-check" style="color:#aaa;" 
                                       *ngIf="documento.yaImportado==true"></i>
                            </td>    
                            
                            <td class="align-middle text-center" style="width:60px;" (click)="seleccionarItem(documento.key)">
                                <i class="fa fa-check text-success"  
                                   *ngIf="documento.importar && documento.aptoImportar==true"></i>
                                   
                                <i class="fa fa-check text-danger"   
                                   title="{{documento.errorValidacion}}"     
                                   *ngIf="documento.importar && documento.aptoImportar==false"></i>
                                
                                <i class="fa fa-square-o text-secondary" *ngIf="!documento.importar"></i>
                            </td>    

                        </tr>

                    </ng-container>
                    
                </tbody>
            </table>
        </div>
        
        <div *ngIf="this.listadoPrincipal.length==0 && this.finalizoSoapComponente"
             class="text-center" style="color:red;">
             No se encontraron resultados para los filtros indicados
        </div>
        
        <!--------------- Confirmar Exportación -------------------->                        
        <div  class="row" *ngIf="listadoPrincipal.length>0" style="margin-top:20px;">
            <div class="col-12">
                
                <table class="table table-hover" style="width:100%; border-top:3px solid #444; border-bottom:hidden;">

                    <thead>

                        <tr> 
                            
                            <th></th>
                            
                            <th>
                                <!-- <select [(ngModel)]="filtroSoapSucursalKey"
                                        id="filtro_filtroSoapSucursalKey" 
                                        class="form-control filtroGrilla selectpicker"
                                        [ngClass]="filtroSoapSucursalKey ? 'filtroConValor' : 'filtroSinValor'">                                       
                                    <option *ngIf="msg.cacheColecciones['Sucursales'] && msg.cacheColecciones['Sucursales'].length!=1"
                                            [ngValue]="null">{{'soap.region' | translate}}</option>    
                                    <ng-container *ngFor="let opcion of msg.cacheColecciones['Sucursales']">    
                                        <option [ngValue]="opcion.key"> {{opcion.codigo}} - {{opcion.nombre | translate}}</option>
                                    </ng-container>            
                                </select> -->
                            </th> 

                            <th class="align-middle" style="width:120px; padding-bottom:0px; padding:5px; padding-top:20px;">
                                <p class="text-right">
                                    # {{listadoPrincipal.length}}
                                    <font color="red"> | {{cantSeleccionados-cantSeleccionadosOk}}</font>                                    
                                    <font color="green"> | {{cantSeleccionadosOk}}</font>    
                                </p>
                            </th>
                            
                            <th class="align-middle" style="width:60px; padding-top:0px; padding-bottom:0px; padding:5px; padding-right:15px;">
                                        
                                <button type="button" class="btn btn-primary btn-sm" style="float:right;"
                                        (click)="comenzarImportacion()">
                                        {{'soap.importar' | translate}}
                                </button>                                                              
                            </th>
                            
                        </tr>

                    </thead>
                </table>

            </div>
        </div>
        
                
    </div> <!-- FIN card-body -->
</div> <!-- FIN widget -->
